$wic-navbar-size: 70px;
$wic-footer-height: 100px;

$wic-success-color: #3c763d;
$wic-warning-color: #a94442;
$wic-error-color: #8a6d3b;

$wic-interface-color: #E53935;//#E53935 (Bright Red);
$wic-foreground-color: #F2F2F2; //#F2F2F2;
$wic-background-color: #F4FAFC;//#EDF7FC (Alice Blue) : # (Mint Cream) : #FCF9E5 (Something creme)
$wic-text-color-primary: #333138;
$wic-text-color-alternate: #039BE5;//# (Bright Blue);

$wic-interface-color: #48BCE2;
$wic-foreground-color: #FFFFFF; // White
$wic-background-color: #F2F2F2; // Anti-Flash
$wic-text-color-primary: #333138; // Jet Black
$wic-text-color-alternate: #FFFFFF; // White
$wic-header-border-color: #E53935; // Bright Red

$wic-footer-container-padding: 15px 15px 0 0;

$wic-font-header: "PT Sans", sans-serif;
$wic-font-header-serif: "PT Serif", serif;
$wic-font-body: "Open Sans", sans-serif;
