@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|PT+Sans:400,400i,700,700i|PT+Serif:400,700&subset=latin-ext');

// Local Imports
@import "variables";

// NPM Imports
// Hover.css Imports
@import "../../../node_modules/hover.css/scss/effects/border-transitions/trim";
@import "../../../node_modules/hover.css/scss/effects/border-transitions/underline-reveal";
@import "../../../node_modules/hover.css/scss/effects/icons/icon-pop";

@mixin validation-state-input($color) {
  border-color: $color;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: $wic-background-color;
  font-family: $wic-font-body;
  font-size: 1em;
  color: $wic-text-color-primary;
}

html {
  padding-top: $wic-navbar-size;
}

div#react-root-container {
  height: 100%
}

div#react-root-container > div {
  height: 100%;
}

div.wrapper-footer {
  min-height: 100%;
  margin: 0 auto (-$wic-footer-height);
}

.push-footer {
  height: $wic-footer-height;
}

.footer {
  @extend .push-footer;
  width: 100%;
  background-color: #f5f5f5;

  &> div.container, &> div.container-fluid {
    padding: $wic-footer-container-padding;
  }
}

.form-control {
  &.has-success {
    @include validation-state-input($wic-success-color);
  }

  &.has-error {
    @include validation-state-input($wic-error-color);
  }

  &.has-warning {
    @include validation-state-input($wic-warning-color);
  }
}

.alert.validation-alert {
  margin-top: 3px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-bottom: 0;

  &.validation-alert-overview {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 7px;
  }
}

.password-strength-bar, #strength-bar {
  margin-top: 0.6em;
}

.navbar, .footer, .interface {
  background-color: $wic-interface-color;
  border-color: $wic-header-border-color;
  color: $wic-text-color-alternate;

  font-family: $wic-font-header;
  font-weight: bold;

  .navbar-brand, a, .text-muted {
    color: $wic-text-color-alternate;
  }

}

.navbar-default .navbar-nav {

  .fa {
    color: $wic-text-color-alternate;
  }

  &> li  {
    @include trim;
    @include underline-reveal;
    @include icon-pop;

    &> a {
      color: $wic-text-color-alternate;
    }
  }

  &> .active > a {
    color: $wic-text-color-alternate;
    background-color: $wic-interface-color;
  }
}

.foreground-item {
  background-color: $wic-foreground-color;
  color: $wic-text-color-primary;
}
